<!-- releases.html -->

<html>

<head>
  <script type=text/javascript src="{{
  url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='js/datatables.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{
  url_for('static', filename='css/datatables.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{
  url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- <h1>{{length}} Releases</h1> {% set count = {'value': 0} %}-->
  <!-- <div>
    <h2>Filters</h2> {% for format in formats %}
    <form>
      <input class="check" type="checkbox" name="{{format}}" value="{{format}}" id="{{format}}"><label class="labelcheck" for={{format}}> <span> {{format}} </span> </label>
        {% endfor %}
      <a href="#" id="formatSubmit">Submit</a>
    </form>
  </div>
  <hr> -->
  <table id="releases" class="display">
  <thead>
      <tr>
        <th>Artist(s)</th>
        <th>Title</th>
        <th>Format</th>
        <th>Label</th>
        <th>Year</th>
      </tr>
    </thead>
    <!--<tbody>
      {% for release in releases %}
      <tr>
        <td>
          {{count.value}}
        </td>
        <td>
          {% for artist in release["basic_information"]["artists"] %}
          <span style="font-weight:bold">{{artist["name"]}} {{artist["join"]}}</span>
          {% endfor %}
        </td>
        <td>
            {{release["basic_information"]["title"]}}
        </td>
        <td>
      {% if release["basic_information"]["formats"][0]["descriptions"] is defined %}
          <span style="font-style:italic">{{release["basic_information"]["formats"][0]["descriptions"][0]}}</span> {% endif %}
        </td>
        <td>
      {% if release["basic_information"]["labels"][0]["name"] is defined %}
          <span style="font-style:italic">{{release["basic_information"]["labels"][0]["name"]}}</span> {% endif %}
        </td>
        <td>
      {% if release["basic_information"]["year"] is defined %}
          <span style="font-style:italic">{{release["basic_information"]["year"]}}</span> {% endif %}
        </td>
      </tr>
      {% if count.update({'value': (count.value + 1)}) %} {% endif %}
      {% endfor %}
    </tbody>-->
  </table>
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

      $(document).ready(function() {

        var collection = '{{collection}}';
        var formatfilters = [];
        var clicked;

        table = $('#releases').DataTable({
          "ajax": {
            "url":"/collectionData",
            "cache": true,
            "dataSrc" : ""
          },

        "columns": [
            { "data": "basic_information.artists.0.name" },
            { "data": "basic_information.title" },
            { "data": "basic_information.formats.0.descriptions.0" },
            { "data": "basic_information.labels.0.name" },
            { "data": "basic_information.year" }
        ],
          select : {
            style : 'single'
          },
          "iDisplayLength" : 20
        });

        table
        .on( 'select', function ( e, dt, type, indexes ) {
            var rowData = table.rows( indexes ).data().toArray();
            //clicked = rowData[0][0];
            $.ajax({
              type: 'POST',
              url: "{{url_for('test')}}",
              data: JSON.stringify({"data":rowData[0][0]
              }),
              error: function(e) {
                console.log(e);
              },
              dataType: "json",
              contentType: "application/json"
            });
        } );
        table.draw();

        $(function() {
          $('.check').change(function() {
            this.checked ? formatfilters.push(this.value) : formatfilters.splice($.inArray(this.value, formatfilters), 1);
            console.log("Formats updated :")
            console.log(formatfilters)
            /*$.ajax({
              type: 'POST',
              url: "{{url_for('filters')}}",
              data: JSON.stringify({"data":formatfilters
              }),
              error: function(e) {
                console.log(e);
              },
              dataType: "json",
              contentType: "application/json"
            });*/

            //reload page because it made it work
            //location.reload();
            //console.log(releases);
          })
        });
        //
        $(function() {
          $('#formatSubmit').click(function(e) {
            table.clear();
            console.log("Submitting the following:")
            console.log(formatfilters)
            $.ajax({
              type: 'POST',
              url: "{{url_for('filters')}}",
              data: JSON.stringify({"data":formatfilters
              }),
              error: function(e) {
                console.log(e);
              },
              dataType: "json",
              contentType: "application/json"
            });
            console.log(collection[0]);
            table.draw();
            //reload page because it made it work
            //location.reload();
            //console.log(releases);
          })
        });
        //

      });
  </script>
</body>

</html>
